doctype 5
html
	head
		link(href='/css/style.css', rel='stylesheet')
		script(src='/js/jquery-1.6.2.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/raphael-min.js')
		script(src='/js/underscore-min.js')

	body
		#main
			div(style='color:white;')
				h1
					span hi everyone! try out &nbsp;
					a(href='/game/11',style='color:orange') game 11
					span , &nbsp; it's our best game
				h2
					or if you want to make  &nbsp;
					a(href='/draw',style='color:orange') new drawings
					span, &nbsp; this is a testbed that doesnt run the game loop
			
	script(src='/js/general.js')