body{
	background:#333;
	overflow:hidden;
}
#viewPort{
	position:fixed;
	left:0;
	top:0;
	margin:0;
	padding:0;
}
#msg{
	height:300px;
	width:300px;
	z-index:4;
	position:fixed;
	right:100px;
	top:100px;
}
#console{
	position:fixed;
	left:0;
	top:0;
	margin:0;
	padding:0;
}
#command{
	position:fixed;
	left:0;
	top:0;
	margin:0;
	padding:0;
}